@page "/tests_all"
@using System.Reflection
@using SpawnDev.UnitTesting.Blazor
@using SpawnDev.ILGPU.WebGPU.Backend
@using SpawnDev.ILGPU.WebGL

<PageTitle>Unit Tests</PageTitle>

<h3>Unit Tests</h3>

<UnitTestsView></UnitTestsView>
